{% extends '@KikwikPage/page/layout.html.twig' %}

{% block pageTitle %}{{ pageTranslation.title }}{% endblock %}

{% block pageDescription %}{{ pageTranslation.description }}{% endblock %}

{% block pageContent %}
    <twig:KikwikPage:AdminBar/>

    <h1>{{ pageTranslation.title }}</h1>
    <p>{{ pageTranslation.description }}</p>

    {% for block in pageTranslation.blocks %}
        <div class="kw-page-block" data-block-id="{{ block.id }}">
            {{ component(block.component, { block: block }) }}
        </div>
    {% endfor %}
{% endblock %}