{% extends '@KikwikPage/page/layout.html.twig' %}

{% block pageTitle %}{{ pageTranslation.title }}{% endblock %}

{% block pageDescription %}{{ pageTranslation.description }}{% endblock %}

{% block pageContent %}
    <twig:KikwikPage:AdminBar/>

    <h1>{{ pageTranslation.title }}</h1>
    <p>{{ pageTranslation.description }}</p>

    {% for block in pageTranslation.blocks %}
        {{ component(block.component, { parameters: block.parameters }) }}

    {% endfor %}
{% endblock %}