{% if this.isGranted %}

    {% trans_default_domain 'kikwik_page' %}

    <link rel="stylesheet" href="{{ asset('bundles/kikwikpage/admin.css') }}">

    <div class="kw-page-admin-bar">
        <div class="kw-page-admin-bar__content">
            <ul style="margin:0;">
                <li><a href="{{ path('kikwik_page_admin_page_list') }}">{{ 'Pages admin' | trans }}</a></li>
                {% if this.page %}
                    <li><a href="{{ path('kikwik_page_admin_page_update', { id: this.page.id }) }}">{{ 'Edit this page' | trans }}</a></li>
                {% endif %}
            </ul>

        </div>

    </div>
{% endif %}