<div {{ attributes }}>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for url,label in this.urls %}
                {% if loop.last %}
                    <li class="breadcrumb-item active" aria-current="page">{{ label }}</li>
                {% else %}
                    <li class="breadcrumb-item">
                        {% if '__DISABLED__' in url %}
                            <a>{{ label }}</a>
                        {% else %}
                            <a href="{{ url }}">{{ label }}</a>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
</div>