{% extends '@KikwikPage/admin/layout.htlm.twig' %}

{% block body %}
    <h1 class="mb-5">
        Elenco pagine
        <div class="btn-group" role="group" aria-label="Enabled Locales">
            {% for locale in enabledLocales %}
                <a href="{{ path('kikwik_page_admin_page_list', {'_locale': locale}) }}"
                   class="btn btn-outline-primary {% if locale == selectedLocale %}active{% endif %}"
                   role="button">
                    {{ locale|upper }}
                </a>
            {% endfor %}
        </div>
    </h1>


    {% if pages | length %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Titolo</th>
                    <th>link</th>
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>
                {% for page in pages %}
                    <tr>
                        <td style="padding-left: {{ page.lvl }}rem;">
                            {{ page.name }}
                        </td>
                        <td>
                            {{ page.translation(selectedLocale).title }}
                        </td>
                        <td>
                            {% if page.translation(selectedLocale).id %}
                                <a class="btn btn-sm btn-outline-primary" href="/{{ page.translation(selectedLocale).slug }}"><i class="bi bi-link-45deg"></i></a>
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-sm btn-outline-primary" href="{{ path('kikwik_page_admin_page_create',{parentId: page.id}) }}" title="Aggiungi pagina figlia"><i class="bi bi-plus"></i></a>
                            <a class="btn btn-sm btn-outline-primary" href="{{ path('kikwik_page_admin_page_update',{id: page.id}) }}" title="Modifica pagina"><i class="bi bi-pencil"></i></a>
                            <a class="btn btn-sm btn-outline-danger" href="{{ path('kikwik_page_admin_page_delete',{id: page.id}) }}" title="Elimina pagina"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <a class="btn btn-sm btn-outline-primary" href="{{ path('kikwik_page_admin_page_create') }}">Crea homepage</a>
    {% endif %}

{% endblock %}